@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Home</PageTitle>

<p>Choose demo:</p>
<a href="/blazor">Blazor native</a>
<br />
<a href="/fluentui">FluentUI</a>
<br />
<a href="/starship-2">Starship (ASP docs)</a>
